h1 {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    font-size: 3em;
    margin: 50px auto;
        color: orangered;
}

p,
ul,
a {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    text-align: justify;
    text-decoration: none;
    color: black;
    font-family: "helvetica", sans-serif;
}

a{
    color: orangered;
    font-weight: 600;
}

h2 {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
        margin-bottom: 20px;
    text-align: justify;
    font-family: "helvetica", sans-serif;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 20px;
    border-top-color: orangered;
}

.center{
    text-align: center;
    margin-top: 50px;
}

