<div class="row">
  <div class="col-lg-12 gsap-reveal-hero">
    {% for post in site.posts %}
    <div>
      <a href="{{ post.url }}" class="blog-entry-link">
        <div class="row blog-entry align-items-stretch {{ site.data.post-type[post.type].style }}" {% if forloop.last %}style="margin-bottom: 0;" {% endif %}>
          <div class="col-md-3">
            <div class="blog-entry-image-wrapper">
              <img src="{{ '/assets/images/' | append: post.image | relative_url }}" alt="{{ post.title }}" class="blog-entry-image">
              <span class="blog-entry-tag">{{ site.data.post-type[post.type].tag }}</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="blog-entry-content">
              <div class="d-flex justify-content-between">
                <h4 class="mb-2 d-flex align-items-center">
                  {{ post.title }}
                </h4>
                <div class="engine-icons">
                    {% if post.project and post.project != 'none' %}
                  <img src="{{ site.data.project[post.project].icon | relative_url }}" alt="{{ site.data.project[post.project].name }}" title=" Part of {{ site.data.project[post.project].name }}" class="project-icon-post">
                  {% endif %}
                  {% for software in post.software %}
                  {% if software == 'unity' or software == 'unreal' %}
                  <img src="{{ site.data.software[software].icon | relative_url }}" alt="{{ site.data.software[software].alt }}" title="{{ site.data.software[software].name }}" class="engine-icon">
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <p>{{ post.excerpt }}</p>
              <span class="blog-entry-read-more">Read More →</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>