<div class="row">
  <div class="col-lg-12 gsap-reveal-hero">
    <div class="resume-box">
      <ul class="job-list">
        {% assign sorted_experience = site.experience | sort: 'order' %}
        {% for job in sorted_experience %}
        <li>
          <div class="icon">
            <img src="{{ '/assets/images/external/' | append: job.logo | relative_url }}" alt="{{ job.company }}"
              class="img-fluid">
          </div>
          <div style="display: flex; justify-content: space-between;">
            <h4>{{ job.position }}</h4>
            <span class="time">{{ job.period }}</span>
          </div>
          <h5>{{ job.company }}</h5>
          {{ job.content }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>