<div class="untree_co-section pb-0" id="home-section">
    <div class="container">
        <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <h1 class="heading gsap-reveal-hero mb-3">
            <strong>Alessandro Lusetti</strong>
            </h1>
            <h2 class="subheading gsap-reveal-hero mb-4">
            Dynamic and creative <b>Senior Unity Game Developer</b>
            with 7+ years of experience in building and maintaining live-service mobile games.
            Proficient in <b>Full-Stack Experience</b>, creating
            efficient server-side code and crafting visually pleasing yet complex graphics
            using Unity. Specialized in <b>LiveOps</b> management
            and optimization.
            </h2>
        </div>
        </div>
    </div>
</div>