<div class="row">
  <div class="col-lg-12 gsap-reveal-hero">
    <div class="resume-box">
      <div class="reveal-content">
        <div class="achievement-icons">
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="C#">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">C#</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">C++</span>
              <div class="star-rating" style="--rating: 50"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Javascript">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Javascript</span>
              <div class="star-rating" style="--rating: 70"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://heroiclabs.com/images/pages/nakama/dark-logo.460a1d86928149a160b025152207fea9659bedd7cb818ee8971d6ee536776bfe.svg" alt="Nakama">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Nakama</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unrealengine/unrealengine-original.svg" alt="Unreal Engine">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Unreal Engine</span>
              <div class="star-rating" style="--rating: 70"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" alt="Unity">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Unity</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/blender/blender-original.svg" alt="Blender">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Blender</span>
              <div class="star-rating" style="--rating: 80"></div>
            </div>
          </div>
          
          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-original.svg" alt="Photoshop">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Photoshop</span>
              <div class="star-rating" style="--rating: 80"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://helpx.adobe.com/content/dam/substance-3d/general-knowledge/ecosystem/substance-3d-icons-svg/Adobe_Substance_3D_Painter_icon.svg" alt="Substance Painter">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Substance Painter</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://helpx.adobe.com/content/dam/substance-3d/general-knowledge/ecosystem/substance-3d-icons-svg/Adobe_Substance_3D_Designer_icon.svg" alt="Substance Designer">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Substance Designer</span>
              <div class="star-rating" style="--rating: 75"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Git</span>
              <div class="star-rating" style="--rating: 80"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.brandfetch.io/idR3duQxYl/theme/dark/symbol.svg" alt="GitHub Copilot">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">AI</span>
              <div class="star-rating" style="--rating: 85"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.brandfetch.io/idRKAFOKVG/theme/dark/symbol.svg" alt="Kibana">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Kibana</span>
              <div class="star-rating" style="--rating: 85"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.brandfetch.io/idxPi2Evsk/w/400/h/400/theme/dark/icon.jpeg" alt="Asana">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Asana</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://cdn.brandfetch.io/idAnDTFapY/theme/dark/symbol.svg" alt="Miro">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Miro</span>
              <div class="star-rating" style="--rating: 80"></div>
            </div>
          </div>

          <div class="achievement-icon">
            <div class="icon-box">
              <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png" alt="Notion">
            </div>
            <div class="detail-v1 text-center mx-auto">
              <span class="detail-label">Notion</span>
              <div class="star-rating" style="--rating: 90"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>