.badge-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0;
  margin-right: 30px;
  padding: 0;
}

.badge-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px; /* fixed width */
  text-align: center;
}

/* Fixed-size box for the icon */
.badge-icon .icon-box {
  width: 200px;    /* fixed width for box */
  height: 100px;   /* fixed height for box */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible; /* allow icon to scale bigger than box */
  margin-bottom: 5px; /* space between icon box and text */
}

/* Default icon size */
.badge-icon .icon-box img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
