/* Resume Box
---------------------*/
.resume-box {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}


/* Only style the main job list, not nested lists */
.resume-box ul.job-list {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}

.resume-box ul.job-list > li {
  position: relative;
  padding: 0 0 0 60px;
  margin: 0 0 30px;
}

.resume-box ul.job-list > li:last-child {
  margin-bottom: 0;
}

.resume-box ul.job-list > li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px solid #0389ff;
  bottom: 0;
}

.resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  color: #0389ff;
  line-height: 40px;
  background: #ffffff;
  text-align: center;
  z-index: 1;
  border: 1px solid #0389ff;
  border-radius: 4px;
}

.resume-box .icon img {
  vertical-align: top;
  padding: 5px;
}

.resume-box .time {
  border: 1px solid #0389ff;
  height: 40px;
  padding: 2px 20px;
  display: inline-block;
  border-radius: 4px;
  align-content: center;
}

@media (max-width: 991px) {
  .resume-box .time {
    padding: 2px 5px;
    min-width: fit-content;
    margin-left: 20px;
  }
}

.resume-box h4 {
  min-height: 40px;
  align-content: center;
}

.resume-box p {
  margin: 0;
}

.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px solid #0389ff;
  bottom: 0;
}