---
title: "Ashes"
date: 2019-04-01
image: "ashes/entry.jpg"
type: "techart"
project: "none"
software:
- blender
excerpt: "A custom Halo CE map, set in a volcanic environment rarely seen in Halo games. Started years before
the MCC release, the project was an attempt to push my skills in design, modeling, and texturing. After abandonment, it
was resurrected with the new Mod Tools to finally bring it to completion. It features flowing lava, custom geometry,
sounds, textures and shaders."
---

<div class="row mb-4">
  <div class="col-lg-12">
    <div class="image-container">
      <img src="{{ '/assets/images/ashes/thumbnail.jpg' | relative_url }}" alt="Ashes (Halo CE Mod)">
      <div class="media-description">
        <p>&ldquo;It's hot down here...&rdquo;</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-12">
    <p>
      This is my first completed halo CE map. This project was started years ago, even before the release of the MCC on
      PC with its new and improved Mod Tools. It was an attempt to see how far I could push myself with design,
      modeling, texturing. The map has gone through many changes as it was being worked on. Some changes were due to
      artistic choice and some changes were necessary to mitigate the engine limitations I was discovering along the
      way. After a couple years of abandonment, it saw new life thanks to the release of the Mod Tools; I decided to
      resurrect it and finally finish it once and for all.
    </p>

    <p>
      The map uses custom geometry, custom textures and shaders, custom sounds and custom particle effects. However, it
      does not feature any new mechanics, weapons or characters, as I wanted to keep the classic Halo feel as much as
      possible.
    </p>

    <p>
      I'm a fan of flowing liquids in games. I find it very fascinating how developers represent things like rivers and
      flowing things in games, and I feel it's an art in itself to be able to represent them realistically. I wanted to
      incorporate this element in my map and I landed on lava. This is mainly because I wanted to do something
      different; volcanic environments are not featured at all in Halo games, while water is quite common. The
      inspiration for the bases comes from the later Halo titles rather than the original trilogy. This is especially
      evident in the shapes of the geometry and light pattern strips.
    </p>

    <div id="gallery1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
      <ol class="carousel-indicators">
        <li data-target="#gallery1" data-slide-to="0" class="active"></li>
        <li data-target="#gallery1" data-slide-to="1"></li>
        <li data-target="#gallery1" data-slide-to="2"></li>
        <li data-target="#gallery1" data-slide-to="3"></li>
        <li data-target="#gallery1" data-slide-to="4"></li>
        <li data-target="#gallery1" data-slide-to="5"></li>
        <li data-target="#gallery1" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner" style="overflow: hidden;">
        <div class="carousel-item active">
          <a href="{{ '/assets/images/ashes/1.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="Top-down view showing the final base design.">
            <img src="{{ '/assets/images/ashes/1.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Top-down view showing the final base design.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/2.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="Entrance of the blue base with a glimpse of a custom planet in the skybox.">
            <img src="{{ '/assets/images/ashes/2.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Entrance of the blue base with a glimpse of a custom planet in the skybox.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/3.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="Interior view of the cavern, showing an alternate path that can be used for flanking.">
            <img src="{{ '/assets/images/ashes/3.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Interior view of the cavern, showing an alternate path that can be used for flanking.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/4.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="Glimpse of the blue base.">
            <img src="{{ '/assets/images/ashes/4.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Glimpse of the blue base.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/5.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="View from the crashed Pelican, where it's possible to see all the lava flows.">
            <img src="{{ '/assets/images/ashes/5.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>View from the crashed Pelican, where it's possible to see all the lava flows.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/6.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="View of the map's center, featuring a lava pool that players must leap across.">
            <img src="{{ '/assets/images/ashes/6.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>View of the map's center, featuring a lava pool that players must leap across.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/8.jpg' | relative_url }}" data-fancybox="gallery1"
            data-caption="Direct line-of-sight sniping view of the blue base.">
            <img src="{{ '/assets/images/ashes/8.jpg' | relative_url }}" class="d-block w-100" alt="Ashes (Halo CE Mod)"
              style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Direct line-of-sight sniping view of the blue base.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#gallery1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#gallery1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-12">

    <div id="gallery4" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
      <div class="carousel-inner" style="overflow: hidden;">
        <div class="carousel-item active">
          <a href="{{ '/assets/images/ashes/geo1.jpg' | relative_url }}" data-fancybox="gallery4">
            <img src="{{ '/assets/images/ashes/geo1.jpg' | relative_url }}" class="d-block w-100"
              alt="Blender screenshot" style="object-fit: cover; cursor: pointer;">
          </a>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/geo2.jpg' | relative_url }}" data-fancybox="gallery4">
            <img src="{{ '/assets/images/ashes/geo2.jpg' | relative_url }}" class="d-block w-100"
              alt="Blender screenshot" style="object-fit: cover; cursor: pointer;">
          </a>
        </div>
      </div>
      <div class="media-description">
        <p>The Blender screenshots showing the custom geometry used in the map.</p>
      </div>
    </div>

    <div id="gallery3" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
      <div class="carousel-inner" style="overflow: hidden;">
        <div class="carousel-item active">
          <a href="{{ '/assets/images/ashes/game1.jpg' | relative_url }}" data-fancybox="gallery3">
            <img src="{{ '/assets/images/ashes/game1.jpg' | relative_url }}" class="d-block w-100"
              alt="Steam screenshot" style="object-fit: cover; cursor: pointer;">
          </a>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/game2.jpg' | relative_url }}" data-fancybox="gallery3">
            <img src="{{ '/assets/images/ashes/game2.jpg' | relative_url }}" class="d-block w-100"
              alt="Steam screenshot" style="object-fit: cover; cursor: pointer;">
          </a>
        </div>
      </div>
      <div class="media-description">
        <p>Ashes running on Master Chief Collection on PC.</p>
      </div>
    </div>

  </div>
</div>

<h3 class="section-title text-black mt-5 mb-3">The old map</h3>

<div class="row mb-4">
  <div class="col-lg-12">
    <p>
      The map went through several iterations before reaching its final form. Here are some screenshots of the older
      version of the map, back when it was still a work in progress.
    </p>

    <div id="gallery2" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
      <ol class="carousel-indicators">
        <li data-target="#gallery2" data-slide-to="0" class="active"></li>
        <li data-target="#gallery2" data-slide-to="1"></li>
        <li data-target="#gallery2" data-slide-to="2"></li>
        <li data-target="#gallery2" data-slide-to="3"></li>
        <li data-target="#gallery2" data-slide-to="4"></li>
        <li data-target="#gallery2" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" style="overflow: hidden;">
        <div class="carousel-item active">
          <a href="{{ '/assets/images/ashes/old/1.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="Early base design, later scrapped due to scale issues that made it feel too small compared to the player model.">
            <img src="{{ '/assets/images/ashes/old/1.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Early base design, later scrapped due to scale issues that made it feel too small compared to the player
              model.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/old/2.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="The ground geometry was left unchanged.">
            <img src="{{ '/assets/images/ashes/old/2.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>The ground geometry was left unchanged.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/old/5.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="Another scrapped idea was the addition of “lava pipes”. Since they never really had a clear purpose, I decided to cut them in the end.">
            <img src="{{ '/assets/images/ashes/old/5.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>Another scrapped idea was the addition of “lava pipes”. Since they never really had a clear purpose, I
              decided to cut them in the end.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/old/4.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="More of the scrapped lava pipes. It's also possible to see the previous position of the crashed Pelican.">
            <img src="{{ '/assets/images/ashes/old/4.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>More of the scrapped lava pipes. It's also possible to see the previous position of the crashed Pelican.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/old/6.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="The skybox originally included a smoke and ash column, inspired by the Halo 4 map “Shatter”. This element was later scrapped.">
            <img src="{{ '/assets/images/ashes/old/6.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>The skybox originally included a smoke and ash column, inspired by the Halo 4 map “Shatter”. This element
              was later scrapped.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{ '/assets/images/ashes/old/7.jpg' | relative_url }}" data-fancybox="gallery2"
            data-caption="The original skybox included a full terrain with massive lava flows painted in Substance Painter using the Physical Paintbrush. I eventually scrapped it due to rendering issues with fog.">
            <img src="{{ '/assets/images/ashes/old/7.jpg' | relative_url }}" class="d-block w-100"
              alt="Ashes (Halo CE Mod)" style="object-fit: cover; cursor: pointer;">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <p>The original skybox included a full terrain with massive lava flows painted in Substance Painter using
              the Physical Paintbrush. I eventually scrapped it due to rendering issues with fog.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#gallery2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#gallery2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<h3 class="section-title text-black mt-5 mb-3">Lore</h3>

<p>
  Installation 01 is a distant, forgotten and dangerous place. Its discovery by scientist Robin Hale sparked an
  insatiable interest to explore the surface. Radio scans turned out to be inconclusive, as the thick atmosphere that
  surrounds the seemingly deserted ring has proven almost impenetrable. A group of Spartans was sent to investigate.
  However, they realized a little too late that the ashy, corrosive air was too destructive for the ships they used to
  reach the surface.
</p>

{% include software-list.html software=page.software %}

{% include store-list.html steam="https://steamcommunity.com/sharedfiles/filedetails/?id=2903058951&searchtext=ashes"%}